<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="VuelaFacil">
    <head>
        <title>VuelaFacil</title>
        <meta charset="utf-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    </head>
    <body class="bg-light">
        <header>
            <nav class="navbar bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="#">
                    <img src="vuelaFacil.svg" alt="Bootstrap" width="360" height="160">
                    </a>
                </div>
            </nav>
        </header>
        <main class="row m-3" ng-controller="filasTickets">
            <article class="col-sm"> <!--Angularjs-->
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre usuario</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="nombre_usuario"/>
                        <br/> <!--Salto de linea-->
                        <button type="button" class="btn btn-outline-info" ng-click="consultarUsuario()">Consulta aquí</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre_usuario" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_usuario"  value="{{nombre_usuario}}" ng-model="nombre_usuario"/>
                        <label for="apellido_usuario" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido_usuario"  value="{{apellido_usuario}}" ng-model="apellido_usuario"/>
                        <label for="correo_usuario" class="form-label">Correo</label>
                        <input type="text"  class="form-control" id="correo_usuario"  value="{{correo_usuario}}" ng-model="correo_usuario"/>
                        <label for="contrasenia_usuario" class="form-label">Contraseña</label>
                        <input type="text"  class="form-control" id="contrasenia_usuario"  value="{{contrasenia_usuario}}" ng-model="contrasenia_usuario"/>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-outline-success" ng-click="actualizarUsuario()">Actualizar</button>
                    </div>
                </section>
            </article>
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.id_usuario}}</td>
                                <td>{{fila.nombre_usuario}}</td>
                                <td>{{fila.apellido_usuario}}</td>
                                <td>{{fila.correo_usuario}}</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Cancelar Reserva</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="id_usuario"/>
                        <br/>
                        <button type="button" class="btn btn-outline-dark" ng-click="borrarTicket()">Cancelar Reserva</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre_usuario1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre_usuario1"  value="{{nombre_usuario1}}" ng-model="nombre_usuario1"/>
                        <label for="apellido_usuario1" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido_usuario1"  value="{{apellido_usuario1}}" ng-model="apellido_usuario1"/>
                        <label for="correo_usuario1" class="form-label">Correo</label>
                        <input type="text"  class="form-control" id="correo_usuario1"  value="{{correo_usuario1}}" ng-model="correo_usuario1"/>
                        <label for="contrasenia_usuario1" class="form-label">Contraseña</label>
                        <input type="text"  class="form-control" id="contrasenia_usuario1"  value="{{contrasenia_usuario1}}" ng-model="contrasenia_usuario1"/>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-outline-success" ng-click="guardarUsuario()">Guardar</button>
                    </div>
                </section>
            </article>
        </main>
        <footer>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/nombre.js"></script>
    </body>
</html>
